{% extends "base.html" %}
{% load i18n %}
{% load mvc_utils %}

{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
<div>

<div class="row">
<div class="span12">
<form action="" method="post" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
    {% if nexturl %}
    <input type="hidden" name="nexturl" value="{{nexturl}}">
    {% endif %}
    {% block form_content%}
    <table class="table table-bordered table-striped table-condensed">
        <tbody>
        {% for rows in form.boundfields%}
            <tr>
            {% for field in rows %}
                <th class="cbas" >{{field.label}}</th>
                <td class="cbas" >{{field}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}

    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <p class="pull-right">
            {% for button in form.buttons %}
                {% call_method button "html" nexturl=nexturl %}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
</form>
{% block extra_content%}
{% endblock %}
</div>
</div>
</div>
{% endblock %}
